.container{
  display: flex;
}
.left-panel{
  padding: 15px;
  overflow-y: auto;
  width: 25%;
  height: 100vh;
  background-color: #212529;

  &-search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid lightgray;

    &-inputs{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
  &-input {
    background-color: #495057;
    border-radius: 4px;
    height: 28px;
    border: 1px solid black;
    width: 100%;


    &:focus {
      outline: none;
      background-color: #495057;
    }
  }

  &-user{
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-rooms{
    height: 80%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
.small-menu{
  display: none;
}
.btn{
  border: none;
  padding: 6px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all .3s;
  &-logout {
    background-color: #9d0208;
    height: 80%;
    &-top{
      margin-top: 5px;
      width: 30%;
    }
  }
  &-join{
    background-color: #2d6a4f;
    width: 30%;
    &-top{
      margin-top: 5px;
    }
  }

  &:hover{
    filter: brightness(90%);
  }

}
.chat{
  width: 75%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;

  &-no-room{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-text{
      font-weight: bold;
      font-size: 400%;
      &-bold{
        color: #2d6a4f;
      }
    }
  }

  &-info{
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 3%;
    border-bottom: 2px solid black;
    top: 0;
    font-weight: bold;
    font-size: 110%;
  }
  &-area{
    overflow: scroll;
    margin-bottom: 10px;
    height: 89%;
    display: flex;
    flex-direction: column;
  }
  &-box{
    background-color: #1b2021;
    width: 100%;
    height: 8%;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.text-input{
  padding-left: 10px;
  width: 85%;
  margin-left: 10px;
  height: 55%;
  background-color: #495057;
  border-radius: 4px;
  border: 1px solid black;
  &:focus {
    outline: none;
    background-color: #495057;
  }
  &-btn{
    width: 10%;
    height: 55%;
  }
}
.room{
  display: flex;
  justify-content: space-between;
  background-color: #495057;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin: 15px 0;
  box-shadow: 0px 0px 2px 0px black;
  transition: all .3s;
  &:hover{
    transform: scale(1.01);
    filter: brightness(90%);
  }
}
.error-text{
  color: red;
}
.messages{
  width: 100%;
  display: grid;
  &:last-child{
    margin-bottom: 10px;
  }
}
.message{
  justify-self: flex-start;
  display: inline-block;
  padding: 15px;
  margin: 12px;
  background-color: #495057;
  border-radius: 0 15px 15px 15px;
  word-wrap: anywhere;
  max-width: 80%;

  &-active{
    background-color: #2d6a4f;
    justify-self: flex-end;
    border-radius: 15px 0 15px 15px;
  }

  &-sender{
  font-size: .9rem;
  }
  &-text{
    margin: 2px 0 5px 0;
    font-size: 1.2rem;
  }
  &-date{
    font-size: .8rem;
  }
}
@media only screen and (max-width: 1300px) {
  .left-panel{
    overflow: hidden;
  }
  .btn-join-top{
    width: 100% !important;
  }
  .btn-join{
    width: 20%;
    margin-right: 10px;
  }
  .btn-logout-top{
    margin: 3px 0;
    width: 100%;
  }
  .text-input{
    width: 80%;
  }
}

@media only screen and (max-width: 1080px) {
  .left-panel{
    display: inline-block;
    width: 100%;
    z-index: 100;
  }
  .chat{
    display: inline-block;
  }
  .toggleMenu{
    display: none !important;
    width: 100%;
    z-index: 50;
  }


  .btn-logout-top, .btn-join{
    width: 30vmin !important;
  }
  .chat{
    //display: none;
    width: 100%;
    &-info{
      height: 6%;
      border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .small-menu{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    cursor: pointer;
    background-color: #2d6a4f;
    border-radius: 20px;
    border: none;
    padding: 12px 24px;
    transition: all .3s;
    &:hover{
      filter: brightness(90%);
    }
  }
}
