<div class="container">
  <div [ngClass]="{'toggleMenu': !toggle}" class="left-panel">
    <div class="left-panel-user">
      <div class="creds">
        <div class="username">
          Username: <span>{{userCreds.username}}</span>
        </div>
        <div class="email">
          Email: <span>{{userCreds.email}}</span>
        </div>
      </div>
      <input (click)="onLogout()" class="btn btn-logout btn-logout-top" type="button" value="logout">
    </div>
    <div class="left-panel-search">
      <p>Search/join:</p>
      <form (ngSubmit)="onJoin()" [formGroup]="joinRoomGroup" class="left-panel-search-inputs">
        <div class="">
          <input (input)="onSearchRoom($event)" class="left-panel-input" formControlName="name" id="roomname" name="roomname"
                 type="text">
          <input class="btn btn-join btn-join-top" type="submit" value="join">
        </div>
        <p *ngIf="emptyJoin" class="error-text">{{emptyJoin}}</p>
      </form>
    </div>
    <div class="left-panel-rooms">
      <div class="room" *ngFor="let room of roomsList; let i = index" >
        <div (click)="onActiveRoom(room)" class="room-bar">{{room}}</div>
        <input (click)="onLeave(i)" class="btn btn-logout btn-leave" type="button" value="X">
      </div>
    </div>
  </div>
  <div [ngClass]="{'toggleMenu': toggle}" *ngIf="activeRoom" class="chat">
    <div class="chat-info">
      {{activeRoom}}
    </div>
    <div class="chat-area">
      <div *ngFor="let message of activeMessages" class="messages">
        <div [ngClass]="{'message-active': userCreds.username===message.sender}" class="message">
          <div class="message-sender">{{message.sender}}</div>
          <div class="message-text">{{message.message}}</div>
          <div class="message-date">{{message.date}}</div>
        </div>
      </div>
    </div>

    <form (ngSubmit)="onMessage()" [formGroup]="chatRoomGroup" class="chat-box">
      <input class="text-input" formControlName="text" id="textmessage" name="textmessage" placeholder="Text message"
             type="text">
      <input class="btn btn-join text-input-btn" id="textsend" name="textsend" type="submit" value="send">
    </form>
  </div>
  <div [ngClass]="{'toggleMenu': toggle}" *ngIf="!activeRoom"  class="chat">
    <div class="chat-no-room">
      <div class="chat-no-room-text">Join <span>a</span></div>
      <div class="chat-no-room-text chat-no-room-text-bold">Room</div>
      <div class="chat-no-room-text">To</div>
      <div class="chat-no-room-text">Start</div>
    </div>
  </div>
  <input (click)="onToggleMenu()" class="small-menu" type="button" value="menu">
</div>
