.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  height: 500px;
  width: 80vmin;
  background-color: #212529;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;

  &-login {
    width: 60%;
  }

  &-image {
    width: 40%;
    border-radius: 0px 12px 12px 0px;
    background-image: url('../../../assets/pattern-1.jpg');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  &-register {
    font-size: 85%;
    justify-self: flex-start;
    text-decoration: underline;
    cursor: pointer;
  }

  &-login {
    padding: 10px 30px;
    background-color: #2d6a4f;
    border: none;
    border-radius: 4px;
    font-size: 110%;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.04);
      filter: brightness(90%);
    }
  }

  &-input {
    width: 75%;
    background-color: #495057;
    border-radius: 4px;
    height: 28px;
    border: 1px solid black;
    font-size: 115%;


    &:focus {
      outline: none;
      background-color: #495057;
    }
  }
}

.error-message {
  color: red;
}

.label {
  width: 75%;
  text-align: start;
}

.form-group {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .box {
    &-login {
      width: 100%;
      height: 75%;
    }

    &-image {
      width: 100%;
      height: 25%;
      border-radius: 0px 0px 12px 12px;
    }
  }
}
